# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode per-user
**/xcuserdata/
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Agent session artifacts
.claude/
